process {
    withName: ABUNDANCE_TABLES {
        publishDir = [
            path: "${params.outdir}/abundance_tables",
            mode: 'copy',
            pattern: '*'
        ]
    }

    withName: CUTADAPT {
        publishDir = [
            path: "${params.outdir}/cutadapt",
            mode: 'copy',
            pattern: '*'
        ]
    }

    withName: FASTQC {
        publishDir = [
            path: "${params.outdir}/fastqc",
            mode: 'copy',
            pattern: '*'
        ]
    }

    withName: MULTIQC {
        publishDir = [
            path: "${params.outdir}/multiqc",
            mode: 'copy',
            pattern: '*'
        ]
    }

    withName: PHYLOGENETIC_TREE {
        publishDir = [
            path: "${params.outdir}/phylogenetic_tree",
            mode: 'copy',
            pattern: '*'
        ]
    }

    withName: TAXONOMY_CLASSIFICATION {
        publishDir = [
            path: "${params.outdir}/taxonomy_classification",
            mode: 'copy',
            pattern: '*'
        ]
    }
}